snippet docpub
	# Public: ${1:Desc}
	#
	# ${2:Args}
	#
	# Examples
	#   ${3}
	#
	# Returns
	#
	#   ${4}
	#

snippet docint
	# Internal: ${1:Desc}
	#
	# ${2:Args}
	#
	# Examples
	#   ${3}
	#
	# Returns
	#
	#   ${4}
	#
